.secondcontentpd-main-container {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}


.Line{
    /* position: absolute; */
    width: 100%;
    height: 1px; 
    background-color:#BDBDBD;

}

.Line2{
    /* position: absolute; */
    margin-top: 62px;
    width: 100%;
    height: 1px; 
    background-color:#BDBDBD;

}

.Paragraph-PD{
    margin-top: 32px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
}

.Detail-PD{
    margin-top: 40px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
}

.Category-PD {
    display: flex;
    margin-top: 16px;
}

.Category-PD-Category{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
}

.Category-PD-Animal{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
    margin-left: 0.5em;
}